.p-castom {
  font-size: 30px;
  font-family: "Bad Script";
  text-align: center;
}

.p1-castom {
  font-weight: 600;
}

.img-round {
  border-radius: 100%;
  width: 250px;
  height: 250px;
}

.pad-120 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.btn {
  background-color: #fe724d;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
}

