.p-castom {
  font-family: "Bad Script";
  font-size: 30px;
  text-align: center;
}

.row hr {
  height: 2px;
  background-color: #F1592A;
  border: none;
  width: 200px;

}

.btn {
  background-color: #fe724d;
  border-radius: 20px;
  padding: 10px 70px;
  border: none;
  &:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    background-color: #f0af76 !important;
  }
}
