.img-main-card {
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
    &:hover {
        box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
      }
}

.main-div {
    width: 100px;
}

.modal-main {
    background-color: 
    #FFF2E2;
}

.about-span1 {
    padding: 7px 15px;
    border-radius: 15px;
    // margin-right: 10px;
    background-color: #ECDB9D;
}

.about-button {
    background-color: 
    #FE724D;
    color: white;
    border: none;
    margin: 0 auto;
}