.sm-width {
  width: 80px;
}

.c {
  font-size: 40px;
  color: #fe724d;
  font-weight: 600;
}

.f-castom {
  font-family: "Bad Script";
  font-size: 28px;
  font-weight: 500;
}

.hr-castom {
  width: 85%;
  margin: 0 auto;
  background-color: #fe724d;
  height: 2px;
  border: none;
}

.dek {
    position: relative;
}


.castom-position5 {
  position: absolute;
  top: -190px;
  right: 0px;
  width: 300px;
  z-index: 0;
  opacity: 0.3;
}

.castom-position6 {
    position: absolute;
    top: 0px;
    left: -100px;
    width: 300px;
    z-index: 0;
    opacity: 0.3;
  }
