$light-blue: #3498db;
$black: #000000;

.container1 {
  .card1 {
    width: 330px;
    height: 400px;
    background-color: #fff2e2;
    border-radius: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
   

    img {
      border-radius: 20px;
      max-height: 200px;
    }

    &:nth-child(2) {
      margin: 0 50px;
    }

    &:hover {
      top: -5px;
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    }

    h4 {
      font-weight: 600;
    }

    p {
      padding: 0 1rem;
      font-size: 16px;
      font-weight: 300;
      color: #fe724d;
      font-weight: 400;
    }

    a {
      font-weight: 500;
      text-decoration: none;
      color: $light-blue;
    }
  }
}

button {
  border-color: #fe724d;
  border-radius: 20px;
  padding: 3px 15px;
  background-color: #fff2e2;
}

.badge-position {
position: absolute;
top: -20px;
right: 7px;
}

.about-img {
  object-fit: cover;
}


