.about-bg-card {
  background-color: #fff2e2;
  padding: 0;
  height: 400px;
}

.img-main {
  border-radius: 50px;
  height: 100px;
  width: 100px;
  object-fit: cover;
  position: absolute;
  top: -15px;
  left: 3px;
  &:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }
}

.card-main {
  border-radius: 20px;
  margin-bottom: 50px;
  top: 0;
  text-align: center;
  transition: all 0.25s;
  &:hover {
    top: -5px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  }
  
}

.card-body-main {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  position: relative;
  height: 200px;
}

.about-poz {
  margin-left: auto;
}

.btn__shadow {
  color: black;

  background-color: #fe724d;
  border: none;
  border-radius: 15px;
  padding: 5px 20px !important;
  
  &:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }
}

.about-color {
  color: #ef7204;
}
