.about-bg {
  background-color: #fff2e2;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.about-hr {
  width: 90% !important;
  margin: 0 auto !important;
  border: none !important;
  background-color: #808080 !important;
  height: 1px !important;
}

.about-slider {
  width: 80%;
  margin: 0 auto;
}

.about__button {
  color: #F1592A;
  background-color: #FFFFFF;
  border: none;
  &:hover {
      color: rgb(192, 5, 33);
      box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }
}

.activ {
  color: white;
  background-color: #F1592A !important;
}

.btn__shadow {
  color: black;

  background-color: #fe724d;
  border: none;
  border-radius: 15px;
  padding: 5px 20px !important;
  
  &:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }
}

