.Navbar {
  background-color: #F1F1F1!important;
}

.font {
  font-size: 15px;
  font-weight: 600;
}

.navShadow {
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.2);
}

nav a:hover {
  text-decoration: inherit;
  color: #fe724d;
}

.active {
  color: red;
}

.about-hover {
  color: #fe724d;
}

.about__icon {
  font-size: 25px;
}