.logo {
  width: 180px;
}

.homeImg {
  align-items: center;
  
}

.pf-castom {
  font-size: 55px;
  color: #f1592a;
  font-weight: 500;
}

.pd-castom {
  font-size: 40px;
  font-family: "Bad Script";
}

.bg-input {
  background-color: #ededed;
  border: none;
  border-radius: 20px;
  padding: 10px 40px;
  font-family: "Bad Script", cursive;
}

.b1 {
  flex-basis: 60%;
}

.b2 {
  flex-basis: 40%;
}

.bg-button {
  background-color: #fe724d;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-family: "Bad Script", cursive;
}

.wrapper-1 {
  flex-basis: 50%;
}

.wrapper-2 {
  flex-basis: 50%;
  z-index: 5;
}

.wrapper-3 {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.castom-position0 {
  position: absolute;
  top: 70px;
  right: -70px;
  width: 350px;
  z-index: 0;
  opacity: 0.3;
}

.castom-position1 {
  position: absolute;
  top: 230px;
  left: -220px;
  width: 350px;
  z-index: 0;
  opacity: 0.3;
}

.castom-position2 {
  position: absolute;
  top: 930px;
  left: -130px;
  width: 270px;
  z-index: 0;
  opacity: 0.3;
}


