.about__card {
  border-radius: 15px;
  background-color: #ffffff;
  top: 0;
  text-align: center;
  transition: all 0.25s;
  .sp {
    color: #ef7204;
  }
  img {
    width: 100%;
    max-height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  button {
    background-color: #ef7204;
    color: #ffffff;
   
  }
  .about-position1 {
    position: absolute;
    top: 8px;
    left: 8px;
  }
  .about-position2 {
    position: absolute;
    top: 8px;
    right: 8px;
  }
  &:hover {
    top: -5px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  }

  
}
