.dek {
    h4 {
      opacity: 0.1;
  
      &:hover {
        opacity: 1;
        color: white;
        text-shadow: 2px 2px 4px #000000;
      }
    }
  
    button {
      padding: 10px 30px !important;
      background-color: #fe724d;
      border: none;
    }
  }