.about__img-details {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;

  &:hover {
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
  }
}

.about__img-hero {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.about__cook-name {
  font-size: 40px;
  font-weight: 600;
}

.font-big1 {
  font-size: 25px;
  font-weight: 400;
}

.about-span {
  padding: 7px 25px;
  margin-right: 10px;
  background-color: #ecdb9d;
}

.about__icons {
  font-size: 30px;
  color: #f24e1e;
}

.about__dsc {
  color: #f24e1e;
  text-decoration: none !important;
  &:hover {
    color: #f9140481;
    cursor: pointer;
  }
}

.bg__color {
  background-color: #fff8f0;
}

.main__button-custom {
    color: #f24e1e;
  &:hover {
    color: #f9140481;
    cursor: pointer;
  }
}

