.about-cookCard {
  &:hover {
    top: -5px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    transition: all 0.35s;
  }

  img {
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #f1592a;
    height: 200px;
    width: 100%;
  }

  h5 {
    font-family: "Bad Script";
  }
}
