.logo {
  width: 150px;
  margin: 0 auto;
}

.btn-how {
  margin: 0 auto;
  width: 350px;
  height: 70px;
  background-color: #bcbcbc;
  border-radius: 30px;
  display: flex;
  position: relative;
}

.btn-left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.actives {
  background-color: #fe724d;
  border-radius: 30px;
}
