.wrapper {
  width: 80%;
  margin: 0 auto;
}

.f-main {
  font-size: 40px;
  span {
    color: #fe724d;
  }
}
.de hr {
  width: 100%;
}

.de-hr hr {
  width: 85%;
}

.de-li li img {
    margin-right: 10px;
   
}

.dek {
  position: relative;
}

.castom-position3 {
  position: absolute;
  bottom: 500px;
  left: -20px;
  width: 200px;
  z-index: 0;
  opacity: 0.3;
}

.castom-position4 {
  position: absolute;
  bottom: 600px;
  right: 0px;
  width: 200px;
  z-index: 0;
  opacity: 0.3;
}

