@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");

.bg-color {
  background-color: #262d2f;
}

.text-color {
  color: #d7d7d7;
  ul {
    list-style-type: none;
    li {
      margin: 5px;
      a {
        color: #d7d7d7;
        font-size: 17px;
        line-height: 17px;
        text-align: left;
        vertical-align: center;
        font-family: "Roboto", sans-serif;
      }
    }
  }
}

.bg-or {
  background-color: #fe724d;
}

.logo {
  width: 180px;
}

a {
  color: inherit;
  text-decoration: inherit;

  :hover {
    color: #fe724d;
  }
}

ul li a:hover {
 
  text-decoration: inherit;
  color: #fe724d;
  
 
  }

