@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
body {
  margin: 0;
}

* { box-sizing: border-box; }

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
}

.btn {
  background-color: #fe724d;
  color: white;
  font-weight: 400;
  padding: 7px 15px;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  border: 0;
  &:hover {
    color: rgb(30, 29, 29);
    background-color: #fe724d;
  }
}
.dek {
  position: relative;
}
.castom-position7 {
  position: absolute;
  top: 20px;
  right: 0px;
  width: 350px;
  z-index: 0;
  opacity: 0.3;
}

.castom-position8 {
  position: absolute;
  top: 90px;
  left: -130px;
  width: 350px;
  z-index: 0;
  opacity: 0.3;
}

.ErrorPage {
  padding: 100px 0;
  text-align: center;
}

.ErrorPage h1 {
  font-size: 70px;
  color: #fe724d;
}

.ErrorPage p {
  font-size: 20px;
}

.ErrorPage .link {
  color: #fe724d;
}

.fa {
  color: #fe724d;
}

.about__underline {
  border-bottom: 1px solid gray;
}
