@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff8f0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0;
}

.about-section {
  width: 95%;
  margin: 0 auto;
}
