.main-div {
    width: 350px;
    display: flex;

    &:hover {
        top: -10px;
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
        transition: all 0.35s;
      }

      .wrapper-img {
        width: 270px;

        img {
        
            height: 150px;
            object-fit: cover;
        }

      }

   

    span {
        display: flex;
        align-items: center;
        margin-left: 20px;
    }
}