.card__main {
  min-height: 500px;

  border-radius: 15px;
  background-color: #fff8f0;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  transition: all 0.25s;

  border-radius: 20px;

  top: 0;
  text-align: center;
  transition: all 0.25s;

  &:nth-child(2) {
    margin: 0 50px;
  }

  &:hover {
    top: -10px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  }

  img {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    margin: 0 auto;
    object-fit: cover;
  }
}
